
.body{
    background-color: #35113A;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    width: 100%;
}

.center {
  border-radius: 12%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 250px;
}

nav {
  height: 50px;
  background-color: #D1A8A8;
  text-align: center;
  padding: 20px;
}

nav a {
  background-color: #D1A8A8;
  text-decoration: none;
  font-size: x-large;
  color: #35113A;;
  padding: 0px 30px;
}

a:link, a:visited {
  background-color: #EA619E;
  border-radius: 10%;
  color: #35113A;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #F2B4B6;
}

#container {
	max-width: 1200px;
    min-height: 500px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 75px;
    margin: 0 auto;
}

#left-pane {
  color:beige;
	padding: 10px;
    float:left;
    width: 45%;
}

#right-pane {
  color:beige;
	padding: 10px;
    float: right;
    width: 45%;
}

footer {
  height: 50px;
  background-color: #D1A8A8;
  text-align: center;
  padding: 20px;
}


